* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'K2D', sans-serif;
}

header{
    width: 100%;
    height: 50px;
    background: #333333;
    color: #ffffff;
    position: fixed;
    top: 0%;
    left: 0;
    z-index: 100;
}
.contenedor{
    width: 98%;
    margin: auto;
}
h1{
    float: left;
}
header .contenedor{
    display: table;
}
section{
   width: 100%;
   margin-bottom: 25px;
}

/* -------MENU-------- */
#btn-menu{
    display: none;

}

header label{
    
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
}
.menu{
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(52, 51, 51, 0.9);
    transform: translateX(-100%);   
}
.menu a{
   display: block;
   color: #ffffff;
   height: 50px;
   text-decoration: none;
   padding: 15px;
   border-bottom: 1px solid rgba(255, 255, 255, 0.5) ;

}
.menu a:hover{
    background: rgba(255, 255, 255, 0.3);
}
#btn-menu:checked ~ .menu{
    margin-top: 50px;
    transform: translateX(0%);  
}

/* -------BANNER CONTENEDOR 1-------- */

#banner {
    margin-top: 50px;
    position: relative;
}

#banner img {
    width: 100%;
    height: 100%;
}

#banner .contenedor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #ffffff;
}
#banner h2{
    font-size: 28px;
}
#banner a{
    display: block; 
    width: 100px;
    color: #ffffff;
    text-decoration: none;
    padding: 7px;
    margin-top: 10px;
    border: 3px solid #ffffff;
}

#banner a:hover{
    background: rgba(51, 51, 51, 0.5);
}
/* ------- BLOG CONTENEDOR 2-------- */
#bienvenidos{
    text-align: center;
}

#blog h3,h4{
    text-align: center;
}
#blog .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#blog article{
    margin: 15px;
}
#blog img{
    width: 100%;
    max-width: 280px;;    
}
/* ------- INFO CONTENEDOR 3-------- */
#info {
    background: #333333;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}
#info .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.info-pet{
    margin: 20px;
}
.info-pet img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 7px solid #ffffff;
}
/* ------- FOOTER-------- */
footer .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
}
.copy{
    font-size: 20px;    
}
footer .sociales a{
    color: #333333;
    text-decoration:none;
}
.sociales{
    width: 100%;
    text-align: center;
    font-size: 28px;
}

/* ******RESPONSIVE******* */

/*ESCRITORIO*/
@media (min-width:1024px){
    /* ------- MENU-------- */
    .menu{
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: right;
        display: flex;
        margin-top: 0%;
    }

    .menu a {
        border: none;
    }
    
    header label { 
        display: none;
    }
    /* ------- CONTENEDORES-------- */
    .contenedor{
    width: 1000px;
    }
    /* ------- BANNER-------- */
    #banner img{
        height: auto;
        margin-top: -200px;
    }
    /* ------- INFO-------- */
    .info-pet {        
        width: auto;
    }
}
/*TABLET*/
@media (min-width:768px){
    /* ------- BANNER-------- */
    #banner{
        height: 300px;
        overflow: hidden;
    }
    #banner img{
        height: auto;
        margin-top: -100px;
    }
    /* ------- FOOTER-------- */
    .sociales{
        width: auto;
    }
    footer .contenedor{
        justify-content: space-between; 
    }
}

/*MOVIL*/
@media (min-width:480px){
    /* ------- BANNER-------- */
    #banner h2{
        font-size: 40px;
    }
    #banner a{
        margin-top: 25px;
    }
    /* ------- INFO-------- */
    .info-pet{
        width: 40%;
    }
}





